<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.js"
            integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA=" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <label for="input-username">Логин</label>
    <input name="username" type="text" id="input-username" placeholder="Логин">
</div>
<div>
    <label for="input-password">Пароль</label>
    <input name="password" type="text" id="input-password" placeholder="Пароль">
</div>

</body>

</html>
